.bg-dark {
  background-color: rgba(42, 27, 61, 1) !important;
}

.jumbotron {
  position: relative;
  background-image: url("../img/Graphic-Designing-bg.jpg");
  background-size: cover;
  height: 100%;
  color: white;
  display: flex;
}

.jumbotron > .overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(128, 128, 128, 0.6);
  z-index: 2;
}

.jumbotron > .inner {
  position: relative;
  z-index: 3;
}
.jumbotron-header {
  font-size: 3rem;
  font-weight: 600;
}
.jumbotron-text {
  font-size: 1.5rem;
  font-weight: 300;
}
.marketing-header {
  font-weight: 700;
  font-size: 2rem;
}
.marketing-body {
  font-size: 1.7rem;
  font-weight: 200;
}
.card-title {
  /* color: rgba(93, 0, 30, 1); */
  font-weight: 600;
}

.card {
  background-color: rgba(227, 226, 223, 0.3);
}

.statistics {
  /* background-color: rgba(231, 113, 125, 0.8); */
  background-color: rgba(68, 41, 141, 0.8);
  color: white;
}

.statistics-header {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
}

.statistics-body {
  font-size: 1.3rem;
  font-weight: 300;
  text-align: center;
}

.statistics-icon {
  height: 3.5em;
  color: whites;
}

.statistics-text {
  font-size: 4rem;
  font-weight: 600;
}
.statistics-addText {
  font-size: 2rem;
  font-weight: 200;
}
.statistics-moreText {
  font-size: 1.5rem;
  font-weight: 200;
}

.statistics-item-0 {
  border-width: 1px;
  border-color: white;
  border-right: solid;
  border-bottom: solid;
}
.statistics-item-1 {
  border-width: 1px;
  border-color: white;
  border-right: solid;
  border-bottom: solid;
}
.statistics-item-2 {
  border-width: 1px;
  border-color: white;
  border-bottom: solid;
}
.statistics-item-3 {
  border-width: 1px;
  border-color: white;
  border-right: solid;
}
.statistics-item-4 {
  border-width: 1px;
  border-color: white;
  border-right: solid;
}
.statistics-item-5 {
  border-width: 1px;
  border-color: white;
}

@media (min-width: 0px) and (max-width: 768px) {
  .statistics-item-0 {
    border: none;
  }
  .statistics-item-1 {
    border: none;
  }
  .statistics-item-2 {
    border: none;
  }
  .statistics-item-3 {
    border: none;
  }
  .statistics-item-4 {
    border: none;
  }
  .statistics-item-5 {
    border: none;
  }

  .banner-content {
    text-align: center;
  }
}

.banner-img {
  max-height: 30em;
  max-width: 100%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
.banner-header {
  font-size: 2rem;
  font-weight: 600;
}
.banner-text {
  font-size: 1.5rem;
  font-weight: 200;
  text-align: justify;
}

.banner-content {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.btn-primary {
  background-color: rgba(68, 49, 141, 1);
}

.card-title {
  text-align: center;
}
.card-body {
  text-align: justify;
}
.card-body > .btn {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
